[2015-12-18 01:26] stevenvachon opened #1 "Use a map"
[code]
[code]
[code]
No conversion and regex necessary -- *much* faster.

[2015-12-18 01:34] stevenvachon commented on #1
Oops. I should sleep.

[2015-12-18 01:34] #1 closed

[2016-01-02 22:21] stevenvachon opened #2 "npm script to update agents list"
using something like http://www.user-agents.org/

[2016-01-02 22:31] gorangajic commented on #2
This module works by matching user agent with [bot list](https://github.com/gorangajic/isbot/blob/master/list.js).
User agents are only used for testing purpose so not sure why would we need to do that?

[2016-01-03 01:11] stevenvachon commented on #2
Bot lists change.

[2016-01-08 15:01] gorangajic commented on #2
bot list updated #3

[2016-01-08 15:01] #2 closed

[2016-01-08 15:12] stevenvachon commented on #2
#3 is good and all, but it doesn't provide any tools to update in the future.

[2016-01-08 15:14] gorangajic commented on #2
I am open to changes, if you want to provide that functionality it would be great

[2016-01-08 15:15] stevenvachon commented on #2
It would undo some of the additions made in #3, though, as I would probably use only user-agents.org

[2016-01-08 17:43] timbowhite commented on #2
Hey heads up that user-agents.org is really outdated.  I mentioned over in the [bot-detector module issue](https://github.com/wedgies/bot-detector/issues/4), which uses user-agents.org exclusively, that it seems that many of user-agents.org ua strings haven't been updated in 10 years.

Some other sources to consider:
- https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/json/userage

[2016-01-09 14:13] gorangajic commented on #2
If someone writes such a script that update browser.txt and crawlers.txt we can use [ci service](https://semaphoreci.com/gorangajic/isbot-2/) to run tests automatically once a day

[2016-01-23 02:53] stevenvachon opened #4 "broken"
The previous version:
[code]
vs current version:
[code]

It's not useful like this.

[2016-01-29 22:10] stevenvachon commented on #4
@gorangajic ?

[2016-01-29 23:58] gorangajic commented on #4
What is the difference? Point of this module is just to provide a way to tell if user agent string is bot or not.

I forget to answer last time, sorry about that.

[2016-01-30 03:06] stevenvachon commented on #4
Because I was using the result in the previous version to store `X-Robots-Tag`-compatible user-agent keys:
[code]
More info: https://github.com/stevenvachon/robot-directives

[2016-01-30 03:08] stevenvachon commented on #4
Additionally, your documentation suggests functionality that no longer works.

[2016-01-30 08:10] gorangajic commented on #4
there is no Googlebot anymore in bot list, that's why it's not there anymore

[2016-01-30 08:13] gorangajic commented on #4
https://github.com/gorangajic/isbot/commit/46307776492837273ebb72ac60a131267a5a1d0c

[2016-01-30 08:13] #4 closed

[2016-01-30 08:14] gorangajic commented on #4
Published @1.0.1

[2016-01-30 14:24] timbowhite commented on #4
Hey just a few thoughts here.

The 'Googlebot' entries were removed in the bot list in v1.0.0 because this was assumed:

They were removed for performance reasons: the smaller the list, the faster the performance of the matching regex.  As the term 'bot' is already in the generic portion of the list, there's no need to repeat terms containing that substring.

If the point of this module is to retu

[2016-01-30 18:32] stevenvachon commented on #4
@timbowhite 3 array indexes is a micro-optimization.

Perhaps `isbot()` should be a boolean and a sub-function of `isbot.name()` returns the token.

[2016-01-30 22:41] gorangajic commented on #4
I agree with you @timbowhite initial and main thing of this module is to return if user agent is bot, so we should just return boolean when useragent is found

sorry @stevenvachon but you can fork code and publish your own module with different name or just use old version.

Will publish tomorrow version that just return boolean

[2016-01-31 00:22] timbowhite commented on #4
Maybe but I'm pretty sure I removed > 3 ua specific matching strings from the list.js because they were redundant, [take a look here](https://github.com/gorangajic/isbot/commit/c3181e2da58d5b7ee36c19711f74d9cef909df3c).

@gorangajic sounds good.  If you're switching to a boolean return, might I also suggest removing the parenthesis from the regex and using ```test``` instead of ```match```, [seems

[2016-01-31 19:07] stevenvachon commented on #4
@gorangajic I'd prefer to do neither. What is so bad about supplying an alternative function? It'd be like 3 lines of additional code.

[2016-01-31 19:43] stevenvachon commented on #4
After further research, this package can be combined with [useragent](https://npmjs.com/useragent):
[code]

This is more accurate anyway.

With this in mind, you could even build your lib this way and reduce the length of your search list.

[2016-01-31 23:59] gorangajic commented on #4
Great then you can go with that module to figure out bot type.

I have published 2.0.0 that always returns boolean

[2017-04-04 08:21] franzmoro opened #9 "doesn't detect whatsapp crawlers"
example user agent: `WhatsApp/2.17.107 A`

[2017-04-04 08:30] #9 closed

[2017-09-07 14:32] Scipionh opened #12 "It doesn't seem to work with IE"

[2017-09-07 14:47] gorangajic commented on #12
Can you provide example user agent string?

[2017-09-13 08:04] Scipionh commented on #12
My bad, this was a terrible case and it's actually working fine

[2017-09-13 08:04] #12 closed

[2017-11-28 22:01] niftylettuce opened #13 "Needs to detect BingPreview bot"
`Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/534+ (KHTML, like Gecko) BingPreview/1.0b`

[2017-11-28 22:03] niftylettuce opened #14 "Needs to detect Google Preview bot"
https://www.distilnetworks.com/bot-directory/bot/google-favicon/

[2017-11-28 22:03] gorangajic commented on #13
can you create pull request?

[2017-11-28 22:03] niftylettuce commented on #13
https://www.distilnetworks.com/bot-directory/bot/bingpreview/

[2017-11-28 22:03] niftylettuce opened #15 "How to keep accurate bot list maintained?"
Perhaps use/scrape this with cheerio?

https://www.distilnetworks.com/bot-directory/category/search-engine/

[2017-11-28 22:04] gorangajic commented on #15
I am open to pull request that will automate that

[2017-12-05 13:36] #13 closed

[2017-12-05 13:36] #14 closed

[2018-04-03 12:49] mrgrok opened #19 "License"
Good work. Just realised there is no license on the code so as I see it technically it is copyright and no permission is granted to use the code so we're not able to at our company :-(. Any chance of adding a license like MIT to the repo? Sorry to be a bore!

[2018-04-03 14:01] #19 closed

[2018-06-18 14:59] piotr-sobczyk opened #21 "Is this library intended to be used in a browser with webpack?"
The library is called: "*Node.js module* that detects bots/crawlers/spiders via the user agent". Does it imply that it's suited to node.js environment only?

We were able to successfully use it the browser with Webpack. Was it intended to be used this way too? Do you know some potential pitfalls? Is it safe to use it way on production?

[2018-06-18 15:03] gorangajic commented on #21
It should work fine in a browser, don't see a problem with that

[2018-06-18 15:05] #21 closed

[2018-08-05 15:48] natanavra opened #22 "Performance Improvement"
RegEx is very slow
Consider iterating through the bot list with a `for` loop
Here's a jsperf:
https://jsperf.com/user-agent-filter-regex-vs-indexof/1

[2018-08-31 13:05] mhluska opened #24 "Add Google PageSpeed Insights"
Should this include the user agent for Google PageSpeed?

See https://stackoverflow.com/questions/16403295/what-is-the-name-of-the-google-pagespeed-user-agent

The user agent: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko; Google Page Speed Insights) Chrome/27.0.1453 Safari/537.36`

Google PageSpeed Insights: https://developers.google.com/speed/pagespeed/insights

[2018-08-31 13:08] gorangajic commented on #24
Sure can you make a pull request?

[2018-08-31 13:26] gorangajic commented on #22
Your test case is initializing `new RegExp` on every test, that's why it's slower.
I have created a new test case that moves initialization on setup and it's faster than `indexOf`.

https://jsperf.com/regex-index-of-2

[2018-09-02 21:59] #22 closed

[2018-10-15 15:19] hogvarce opened #26 "Wrong detect"
Not correctly identifies the user agent

 Mozilla/5.0 (Linux; Android 8.1.0; Mi A1 Build / OPM1.171019.026; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version / 4.0 Chrome/68.0.3440.91 Mobile Safari/537.36 YandexSearch/7.71 YandexSearchBrowser/7.71

thinks it's a bot

[2018-10-15 15:40] hogvarce commented on #26
When you go with Android
Mozilla/5.0 (Linux; Android 7.0; SM-T585 Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) version / 4.0 Chrome/56.0.2924.87 Safari/537.36 YandexSearch/7.71 / apad YandexSearchBrowser/7.71
defines how the bot

[2018-10-16 07:15] #24 closed

[2018-10-16 08:11] gorangajic commented on #26
I am busy and not sure when I can fix this. Can you submit a pull request that handles that case?

[2018-12-18 01:42] knoxcard commented on #26
I see the issue, Yandex has a browser "YandexSearchBrowser".  Would just need to insert that particular rule.

[2018-12-19 08:09] goldip opened #29 "Wrong detect Cubot devices"
Hey,

your script isn't capable of detecting Cubot devices - it's probably a "bot" string in the name. I'm sending several user agents for testing:

[code]

[2019-01-17 09:30] knoxcard opened #30 "Detecting Social Bots?"
What about detecting Facebook, Twitter and LinkedIn?

They ping your site when you post links on their platforms.
Then read your social meta tags that you provide.

isSocial()?

My workaround...
[code]

Needed to do this recently to hide/show social html meta data in my header tag...
[code]

[2019-03-18 11:36] Niffy commented on #29
We are having similar issues.
It would be nice if there was a whitelist function, similar to the extend function. Then adding in a workaround would be pretty simple.

[2019-03-18 12:26] gorangajic commented on #29
I am open to pull requests that will handle this use case

[2019-05-03 15:30] offero opened #31 "Tests"
There are no tests. There should be some.

[2019-05-03 15:40] gorangajic commented on #31
https://github.com/gorangajic/isbot/blob/master/test.js

[2019-05-03 15:42] offero commented on #31
Oh hey sorry I was looking at the wrong repo tab! My bad!

[2019-05-03 15:42] #31 closed

[2019-05-03 15:43] gorangajic commented on #31
That's fine, they are not up to date :)

[2019-05-15 10:34] omrilotan commented on #26
Fixed before, bud addressed in commit 76a27f6

[2019-05-15 10:34] #26 closed

[2019-05-17 18:29] omrilotan commented on #30
I feel like classification of user agents is outside the scope of this module.
`isbot` is a single use module. It allows it to remain simple and quick.

I vote for dismissing this one as a `wontfix`, any rejections?

[2019-05-18 03:25] knoxcard commented on #30
I agree! I'll close the issue.

[2019-05-18 03:25] #30 closed

[2019-05-19 19:39] omrilotan commented on #29
@goldip @Niffy Would you consider #35 a solution to your issue?

[2019-05-29 07:05] omrilotan commented on #29
Addressed in 35

[2019-05-29 07:05] #29 closed

[2019-07-25 21:22] omrilotan commented on #15
I'd be happy to add automation. However, I could not find a free user agent database yet. If you have any suggestions - I would be happy to pick it up from there.

[2019-08-12 16:29] massa-man opened #41 "TypeError: isbot_1.default is not a function"
TS Type Definitions appear to have issues. When upgrading to the latest version, I start getting the following error:

`TypeError: isbot_1.default is not a function`

After upgrading to 2.4.0, the old way of importing the library in TS started throwing errors in the TS compiler:

`import * as isBot from 'isbot';`

Now generates the following error:

`Cannot invoke an expression whose type lacks a

[2019-09-11 06:44] #41 closed

[2019-10-10 08:24] johannessteu opened #45 "Typescrit types are broken"
This one https://github.com/gorangajic/isbot/commit/17338c24d60bd24c4d5eb713bad3ab8368f51a4d should actually fix ts definitions. But it broke it for me. As soon as i build my app it end's up in something like this:

[code]

Here is a codesandbox to reproduce the issue (run the build script):

https://codesandbox.io/s/async-tree-lxpjv?expanddevtools=1&fontsize=14&hidenavigation=1&moduleview=1

If i

[2019-10-29 08:51] maximn commented on #15
What about using rules/regex instead of a static list?

[2019-10-29 09:43] omrilotan commented on #15
@maximn We are using rules and regex. I think the issue is to get updated lists of user agents to test against

[2019-10-30 10:38] omrilotan commented on #45
Solved in version 2.5.0

[2019-10-30 10:38] #45 closed

[2019-10-31 11:12] omrilotan commented on #15
Maintenance workflow added in #47

![](https://user-images.githubusercontent.com/516342/67942134-d61cc800-fbdf-11e9-9250-3a8ffceed02d.png)

[2019-11-17 11:24] omrilotan opened #49 "Github Actions stopped working"
Workflow output:
[code]

Workflows are limited to 2,000 minutes/month. [Recent issue](https://github.community/t5/GitHub-Actions/GitHub-Actions-workflows-can-t-be-executed-on-this-repository/td-p/38153) suggests this may be limiting open repositories.

I can move CI process to CircleCI which support pipeline as code

[2019-11-17 16:48] doitadrian opened #51 "Bug - user agent incorrectly treated as a bot"
Thanks for the lib @gorangajic.

I think I found a bug, or at least it looks to me like it is a bug.

I'm making a request from a Lambda function using `chrome-aws-lambda` lib.
Below we can see which User-Agent it sets (`UA_LAMBDA`).

Once I pass this value to the `isbot`, it returns `true`, but this is not a bot obviously.

[code]
Is this a bug?

When I execute the same request from an ordinary C

[2019-11-17 18:57] omrilotan commented on #51
Yes, @doitadrian, HeadlessChrome is explicitly considered a bot by `isbot`.
I think its definition matches the behaviour usually associated with bots. It is not used by people to visit sites but by automated processes.

[2019-11-17 19:16] omrilotan commented on #51
By the way, if you wish not to identify yourself as a headless browser - usually used for automated tasks - Puppeteer (the browser used by `chrome-aws-lambda`) can be configured to run full (non-headless) Chrome or Chromium.
[code]

[2019-11-17 19:19] doitadrian commented on #51
Very nice @omrilotan, thanks for the info!

I actually overrode UA and then it worked nicely:
[code]

Gonna close this one.

Thanks again!

[2019-11-17 19:19] #51 closed

[2019-11-17 19:37] omrilotan commented on #49
@gorangajic Any thoughts? I've seen a lot of issues around Github starting Nov 13

[2019-11-18 11:02] omrilotan commented on #49
Resolved in #52

[2019-11-18 11:02] #49 closed

[2019-11-21 01:03] Cherry opened #54 "Non-Chromium compatibility broken in 2.5.2"
https://github.com/gorangajic/isbot/commit/acb6dcf401f32a48ec7024398f653ea9d7664f53#diff-168726dbe96b3ce427e7fedce31bb0bcR70 throws a `SyntaxError: invalid regexp group` in non-Chromium browsers like Firefox and Edge.

Wrapping in a try/catch doesn't help here, because it's not something that the browser can even parse, thus the `SyntaxError`.

It looks like you can detect support for this a littl

[2019-11-21 01:06] Cherry commented on #54
It looks like you can detect support for this a little better with something like:

[code]

[2019-11-21 01:13] Cherry commented on #54
I've opened a PR at https://github.com/gorangajic/isbot/pull/55 to fix this. Let me know if there's anything else you'd like to me change.

[2019-11-21 03:11] #54 closed

[2019-11-21 03:18] omrilotan commented on #54
Addressed in version 2.5.3
Thank you

[2019-11-26 09:51] bozzbot opened #57 "RegExp Lookbehind is causing erros in Safari and Firefox"
`SyntaxError: invalid regexp group`
This error will be thrown in the packed file if isBot is used in the client. This was introduced in Version 2.5.2.
Not sure if this is a general use case but it can be very hard to find as Firefox has a related bug always specifying line 1.

[2019-11-26 11:38] omrilotan commented on #57
@bozzbot Thank you for the bug report. This bug fix was released inversion 2.5.3 . Are you able to upgrade?

[2019-11-26 13:37] #57 closed

[2019-11-26 13:48] omrilotan commented on #57
Thank you for confirming 😃

[2020-02-12 13:42] omrilotan opened #65 "Rethink existing browsers list"
Some [browsers](https://github.com/gorangajic/isbot/blob/master/tests/fixtures/browsers.txt) may need to be re considered as bots; downloaders, Google Talk, etc.

This may potentially allow to optimise the regex - and, as a result, runtime.

[2020-02-12 21:40] omrilotan commented on #15
Re created the same scheduled pipeline (cronjob) in CircleCI

![](https://user-images.githubusercontent.com/516342/74379721-fbc98800-4df0-11ea-94d4-d5ed0263fd7d.png)

[2020-02-28 00:11] sebranly opened #66 "Empty user agent strings"
Nice project, thanks for sharing it!

What's your take on empty user agent strings? (`''`)
It seems like they are being considered as not a bot currently, what about considering them as a bot instead?

[2020-02-28 06:46] omrilotan commented on #66
This package explicitly checks is a user agent string identifies as bot - usually crawlers. I don't know if not matching any would count as "identifying as a bot". Can you explain why you think it would? Have you seen any traffic w/o a user agent header which is a bot?

[2020-02-28 08:17] sebranly commented on #66
I think there's no definite answer on how to classify an empty user agent string. I haven't seen any such case so it's more of an opinion really. I think my point of view is that if the user agent doesn't get sent, then either it's a bot, or it's a human who willingly decided to remove the user agent from the headers, so they shouldn't be surprised if they are being classified as a bot.

That's ju

[2020-02-28 09:13] omrilotan commented on #66
@sebranly I'll give it a read 👌

[2020-02-29 08:02] omrilotan commented on #66
@sebranly Thank you, that was an excellent point. I think it one of the notions in that thread was referring to both attempts:
- Identify humans
- Identify bots

This library is not attempting to identify humans, rather identify user agents who belong to known bots. As such, the question it asks is: "Does this user agent belong to a known bot"? And an empty string can not answer this question and

[2020-02-29 20:27] sebranly commented on #66
That makes perfect sense to me with this specific goal of "identifying known bots" 👍
To be fair, as my use case makes me want to consider an empty user agent string as a bot (slightly different use case than yours), I was using the `isBot` package by wrapping it up.

Something like
[code]

But I just tested your suggestion (with a custom unit test suite supporting some well-known user agents) and

[2020-02-29 20:27] #66 closed

[2020-03-12 17:49] sebranly opened #68 "Have more stability for exclusions"
Hi again, I have another suggestion regarding improving this package.

### Context

I have been using [`extend`](https://github.com/gorangajic/isbot#extending-more-user-agents) which works great. I recently started using [`exclude`](https://github.com/gorangajic/isbot#excluding-known-crawlers) and would like to raise a concern about the way it works. My goal was considering a known crawler, let's

[2020-03-12 20:47] omrilotan commented on #68
Hi, @sebranly. Thank you for taking the time, that's an interesting notion. I'm [considering a little re-think regarding the bot list](https://github.com/gorangajic/isbot/issues/65) that is more content than structure but maintaining the classification in a structured enumerator may have more benefits, I agree.
I don't have a timeline for this but I can inform you as I progress, or if you want to

[2020-05-17 13:57] omrilotan commented on #15
I feel we made good progress on [version 3](https://github.com/gorangajic/isbot/releases/tag/v3.0.0) with two dynamic bot lists. Seems good enough for now

[2020-05-17 13:57] #15 closed

[2020-05-17 13:57] omrilotan commented on #65
Addressed in [version 3](https://github.com/gorangajic/isbot/releases/tag/v3.0.0)

[2020-05-17 13:57] #65 closed

[2020-06-05 20:13] omrilotan opened #73 "Periodic failed tests do not open issues"
curl request fails. Tested with different credentials and replaced "Bearer" keyword with "token".
Need to create a fix

[2020-06-07 07:01] omrilotan commented on #73
Details:
We have a periodic run on CircleCI, where the tests run.
Since we're using a dynamic set of crawler user agent strings, this should prompt for required updates in this package.
In case tests fail - this step should open an issue to bring the matter to our attention. The request for opening an issue requires a fix.

Reference:
https://github.com/gorangajic/isbot/blob/master/.circleci/confi

[2020-06-10 11:47] sebranly opened #75 "Documentation update required on exclude use-case"
### Problem

With the recent changes made in https://github.com/gorangajic/isbot/pull/72, especially removing `"Google Page Speed Insights"` rule, the documentation is now incorrect regarding `exclude`:
- https://github.com/gorangajic/isbot#remove-matches-of-known-crawlers

`isbot('Google Page Speed Insights')` always returns `true` as adding it to `exclude` does not work anymore because its rule

[2020-06-11 05:59] #75 closed

[2020-06-20 10:25] crystalbit opened #77 "Wrong detection"
Got useragent 'Hexometer' on a webpage - it is a bot, but was not detected and has passed through the checking

It is a whole ua, without versions and any other symbols

[2020-06-20 16:09] omrilotan commented on #77
Thank you, @crystalbit. We'll create a PR soon

[2020-06-23 12:59] #77 closed

[2020-07-26 12:22] stevenolay opened #83 "QUESTION: "bot" in list.json seems too permissive?"
I noticed that "bot" is one of the keywords and it greedy matches for any user agent containing those 3 characters in a row. I feel like this is great for capturing user agents like:

Slackbot 1.0(+https://api.slack.com/robots)
Slackbot-LinkExpanding 1.0 (+https://api.slack.com/robots)

However, it feels too permissive. Is it a fair assumption that there are no legitimate user agents that could co

[2020-07-26 12:24] #83 closed

[2020-08-02 13:27] omrilotan commented on #83
I don't want to leave this legitimate question hanging, so I'll address it.

We add real user agents to test by both manual list and using [npm "user-agents" package](https://www.npmjs.com/package/user-agents) to verify we do not misidentify browser user-agent strings.

We try to find common denominators to reduce the complexity of the RegEx pattern and improve runtime (bot, crawl, spider, feed, g

[2020-11-03 15:18] omrilotan commented on #68
I've looked into this issue. At one point I considered to recommend using the "find" method:
[code]

But will not work for all rules.
Since I'm constantly trying to improve runtime execution by finding common denominators, I don't think it'll be sustainable to categorise the list.

I'll have to consider how to approach this, because the list is not considered a formal part of the API at the moment

[2020-11-04 21:37] omrilotan opened #93 "Cannot upgrade stadardjs"
It's time to upgrade the syntax. var is no longer allowed.
Convert to ES6 source file

[2020-11-11 07:07] omrilotan opened #94 "Fail safe - Outages resilience"
An outage in myip.ms caused one of the lists to fail downloading - which caused error in testing, and was not recoverable.
Think of creating backup files for recovery from list providers outages

[2020-12-06 09:40] gilisho opened #102 "Error while installing version 3.0.18"
## Steps to reproduce

Install version `3.0.18` of `isbot`.

## Expected behaviour

Module should be installed successfully.

## Actual behaviour

Getting the following error:
[code]

[2020-12-06 10:05] omrilotan commented on #102
Thank you. What is your OS/version?

[2020-12-06 10:21] omrilotan commented on #102
@gilisho Please try 3.0.19, thank you

[2020-12-06 13:32] gilisho commented on #102
Looking good now. Thanks!

[2020-12-06 13:32] #102 closed

[2020-12-08 15:22] github-actions[bot] opened #105 "Tests failed"

[2020-12-08 15:23] #105 closed

[2020-12-08 15:24] github-actions[bot] opened #106 "Tests failed"

[2020-12-08 15:24] #106 closed

[2020-12-08 15:31] github-actions[bot] opened #107 "Tests failed"

[2020-12-08 15:32] #107 closed

[2020-12-08 15:32] github-actions[bot] opened #108 "Tests failed"

[2020-12-08 15:32] #108 closed

[2020-12-08 15:33] github-actions[bot] opened #109 "Tests failed"

[2020-12-08 15:34] #109 closed

[2020-12-08 15:37] github-actions[bot] opened #110 "Tests failed"

[2020-12-08 15:37] #110 closed

[2020-12-08 15:40] github-actions[bot] opened #111 "Tests failed"

[2020-12-08 15:41] #111 closed

[2020-12-08 15:41] github-actions[bot] opened #112 "Tests failed"

[2020-12-08 15:42] #112 closed

[2020-12-08 15:47] github-actions[bot] opened #113 "Tests failed"

[2020-12-08 15:48] #113 closed

[2021-01-06 10:53] simontabor opened #117 "MozacFetch/49.0.20200702190156 was wrongly recognised as a bot"
## User Agent String
`MozacFetch/49.0.20200702190156`

## Reproduce
MozacFetch appears to be the user agent used by Mozilla's new Android browser - Fenix - https://stackoverflow.com/questions/63666913/where-is-this-user-agent-from-mozacfetch

I have no Android phone or Fenix build, so I'm unable to reproduce right now. Looking at https://github.com/mozilla-mobile/fenix/issues/7961, Fenix uses Moza

[2021-01-06 11:02] omrilotan commented on #117
Looking into this

[2021-01-06 11:09] omrilotan commented on #117
By installing Firefox Nightly for Android I'm receiving user agent string:
[code]

@simontabor Do you have an installation link?

[2021-01-06 11:23] omrilotan commented on #117
What were the circumstances you've encountered it? I can not see a reference in their codebase

[2021-01-06 11:31] omrilotan commented on #117
Found in Mozilla android components https://github.com/mozilla-mobile/android-components/search?q=MozacFetch . I will issue a fix promptly

[2021-01-06 11:32] simontabor commented on #117
Ah, good find. Thanks so much @omrilotan

[2021-01-06 12:39] omrilotan commented on #117
Fixed in 3.0.22

[2021-01-06 12:39] #117 closed

[2021-01-06 15:04] omrilotan commented on #117
Sorry, my mistake, fined in 3.0.23

[2021-01-06 15:05] omrilotan commented on #117
Verify here: https://isbot.js.org/?ua=MozacFetch/49.0.20200702190156

[2021-03-01 17:53] spartanz51 opened #127 "Chrome was wrongly recognised as a bot"
## User Agent String

Mozilla/5.0 (Linux; Android 10; SM-G973F Build/QQ3A.200805.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/85.0.4183.101 Mobile Safari/537.36 trill_2021806060 JsSdk/1.0 NetType/WIFI Channel/googleplay AppName/musical_ly app_version/18.6.6 ByteLocale/fr ByteFullLocale/fr Region/FR

This user agent is from Tiktok webview, on Android
It seems that the string "

[2021-03-01 18:54] #127 closed

[2021-03-01 18:58] omrilotan commented on #127
Thank you for this ticket. Issue was addressed in isbot@3.0.25
[Review](https://isbot.js.org/?ua=Mozilla/5.0%20(Linux;%20Android%2010;%20SM-G973F%20Build/QQ3A.200805.001;%20wv)%20AppleWebKit/537.36%20(KHTML,%20like%20Gecko)%20Version/4.0%20Chrome/85.0.4183.101%20Mobile%20Safari/537.36%20trill_2021806060%20JsSdk/1.0%20NetType/WIFI%20Channel/googleplay%20AppName/musical_ly%20app_version/18.6.6%20Byt

[2021-06-14 08:20] tonprince opened #145 "nibbler"
## User Agent String
nibbler

## Reproduce
I tested on my website and nibbler is not recognized as a bot.

https://nibbler.silktide.com/en/about

[2021-06-14 18:19] omrilotan commented on #145
Will be resolved in version 3.0.27 for user agent "nibbler". Not for user agent "Mozilla/5.0 (Windows; U; Windows NT 5.1; en-GB; rv:1.9.1.3) Gecko/20090824 Firefox/3.5.3" which is mentioned in its documentation

https://isbot.js.org/?ua=nibbler

[2021-06-15 10:19] tonprince commented on #145
Thanks

[2021-06-15 10:19] #145 closed

[2021-07-09 09:35] omrilotan commented on #68
Closing this issue
This comment should be considered as the widely used solution: https://github.com/omrilotan/isbot/issues/68#issuecomment-721192815

[2021-07-09 09:35] #68 closed

[2021-07-09 10:12] omrilotan commented on #93
Upgraded

[2021-07-09 10:12] #93 closed

[2021-07-13 14:08] omrilotan opened #149 "Allow undefined in isbot interface"
Steps to reproduce
-------
Using Typescript and Express, using the Request.get method interface returns string or undefined. This does not match the interface of isbot (string).

Expected behaviour
-------
Accept `undefined` to allow simpler usage

Actual behaviour
-------
Currently while using `isbot(req.get('user-agent'))` we have compilation exception

Additional details
-------
![image](https:

[2021-07-28 09:08] richardscarrott opened #153 "Add ability to create multiple instances"
Problem
-------

We have a handful of reasons to change the behaviour of our site based on whether the user is a bot. However, they have subtly different requirements. For example:

[code]

Possible solution
-------

Would it make sense to expose a constructor (or factory fn) which had its own `pattern` state?

[code]

[2021-07-28 23:55] omrilotan commented on #153
That's an interesting case. While the emphasis of this repo is usually on maintaining a performant and comprehensive list, this is an interesting usage.
I'll have a think about this and see if it's worth it to add a bit of complexity to this module.

[2021-07-29 14:37] omrilotan commented on #153
I'm testing a solution at #155 . You can test it, too:

[code]

[2021-07-29 14:39] omrilotan commented on #153
@richardscarrott would also appreciate your review of the interface, and continue the discussion on #155

[2021-08-03 20:39] #153 closed

[2021-08-18 13:26] jlowcs opened #160 "[3.3.1] "const" keyword in index.js"
Steps to reproduce
-------
Build an app with webpack using this library.

Expected behaviour
-------
index.js should contain ES5 code for full browser support.

Actual behaviour
-------
index.js contains one `const` keyword, and therefore webpack generated a bundle/chunk with a `const` keyword.

![image](https://user-images.githubusercontent.com/3777724/129906089-c923bde3-089c-4a42-a934-96b5ae06c8

[2021-08-18 13:45] jlowcs commented on #160
looks like there are even more of those in the 4.0.0 rc btw:

![image](https://user-images.githubusercontent.com/3777724/129909266-f3303b38-e6a2-4e24-b61c-7d3bacad529d.png)

[2021-08-20 01:45] omrilotan commented on #160
Fix proposed: https://github.com/omrilotan/isbot/pull/161
Would appreciate your review.

Don't worry about 4.0.0 rc. This specific breaking version will not be released.

[2021-08-20 08:56] #160 closed

[2021-08-20 09:30] omrilotan commented on #160
Resolved in 3.3.2
| ![](https://user-images.githubusercontent.com/516342/130212781-c90c0be2-a521-4c10-928d-c44ae11a21f6.png)
| -

[2021-09-20 22:14] #94 closed

[2021-10-08 11:31] jannone opened #166 "Pattern not being removed when calling "exclude""
Steps to reproduce
-------
[code]

Expected behaviour
-------
`search` should have been removed from the pattern list,
and the example userAgent should have not be identified as a bot.

Actual behaviour
-------
`search` is still kept in the pattern list,
and the userAgent is still identified as a bot.

[2021-10-09 22:51] omrilotan commented on #166
I think I have a good solution for this in #167. Care to take a look?

[2021-10-10 16:54] jannone commented on #166
I'm unsure... In my scenario, do I need to exclude both expressions? If so, #167 might not solve it... since it only returns the first expression that is found, rather than an array of expressions

[2021-10-10 22:58] omrilotan commented on #166
Updated the pull request to include new functionality

https://github.com/omrilotan/isbot/pull/167

[2021-10-11 11:35] jannone commented on #166
Good catch! I hadn't seen the white space. It works now

[2021-11-01 13:06] mmosleh01 opened #168 "<BOT_NAME> was not retestcognised"
User Agent String
-------

Reproduce
-------

[2021-11-01 17:28] omrilotan commented on #168
I think I know what's going on here

[2021-11-01 17:28] #168 closed

[2021-12-06 09:56] jebax opened #169 "PetalBot was not recognised"
User Agent String
-------
`PetalBot` (Huawei's Petal search engine)
https://developer.huawei.com/consumer/en/doc/petalbot

Reproduce
-------

[2021-12-06 16:13] #169 closed

[2021-12-31 15:06] #166 closed

[2022-02-17 12:56] bmustata opened #172 "Support for Chrome/Firefox 100"
How this is going to support Chrome and Firefox version 100?
https://hacks.mozilla.org/2022/02/version-100-in-chrome-and-firefox/

[2022-02-17 15:45] omrilotan commented on #172
I don't understand the question. Why would there be an issue with version 100?
We don't parse the user agent string. We search for known patterns:

isbot: [Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0](https://isbot.js.org/?ua=Mozilla%2F5.0+(Windows+NT+10.0%3B+Win64%3B+x64%3B+rv%3A100.0)+Gecko%2F20100101+Firefox%2F100.0)

[2022-02-18 08:05] bmustata commented on #172
Chrome will reduce the amount of information available in the User Agent string so i understand that after ver 100 this will not be affected.

[2022-02-18 15:24] omrilotan commented on #172
Tested with Chrome's flag `#force-major-version-to-100` (under chrome://flags) and added appropriate tests #173

[2022-02-18 15:29] #172 closed

[2022-02-28 16:29] adnanebrahimi opened #174 "Calling method isbot() return isbot_namespaceObject is not a function"
Steps to reproduce
-------
npm install isbot --save

in expressjs:
[code]
Expected behaviour
-------
by browser loads webapp as CSR

by bot loads webapp as SSR

Actual behaviour
-------
error occured:

TypeError: isbot_namespaceObject is not a function

Additional details
-------
Angular Universal Version 13

[2022-02-28 16:34] omrilotan commented on #174
Thank you, [Adnan](https://github.com/adnanebrahimi).
Will you be able to send a dependency and deploy pipeline to reproduce?
I'll try to reproduce and resolve this issue promptly

[2022-02-28 16:48] adnanebrahimi commented on #174
I fixed by changing an option in tsconfig to have correct import:
in tsconfig.json
`"allowSyntheticDefaultImports": true`

in server.ts:
`import isbot from 'isbot';`

the wrong import was:
`import 8 as isbot from 'isbot';`

Thanks for your fast reply 👌

[2022-02-28 16:55] #174 closed

[2022-05-05 18:23] MarkLyck opened #183 "Not compatible with jest version 28"
Steps to reproduce
-------
`import isbot from 'isbot'` anywhere in a file that's tested.
install and use `jest@28` to test the file.

Expected behaviour
-------
The isbot import should work.

Actual behaviour
-------
Jest throws an error about unexpected token inside isbot.

[code]

Additional details
-------
Jest@28 started supporting exports in package.json;
https://jestjs.io/docs/upgrading-to-j

[2022-05-09 15:46] omrilotan commented on #183
I'm afraid the issue may with your build system. Would you like to share some project details?
Node version, Jest configuration, and any additional build configuration (webpack etc).

I've successfully tested using Jest with no build, using both native ESM and commonjs.
Please review Pull Request #184

![](https://user-images.githubusercontent.com/516342/167447492-846fbca1-bbc5-4ce6-85ed-34279a6c4

[2022-05-09 16:35] omrilotan commented on #183
## Update

Changing
[code]
Did not help. Jest resolve the module without modules in VM flag.

I'm open to suggestions

[2022-05-11 14:44] wadehammes commented on #183
This is failing for me using NextJS 12.1.6 with vanilla configuration (using their built in SWC compiler)

![image](https://user-images.githubusercontent.com/222170/167877868-a543ed38-0e6a-4640-ad45-d6ee5c86958b.png)

[2022-05-11 14:56] wadehammes commented on #183
This helped me: https://stackoverflow.com/questions/60714101/how-to-setup-jest-with-node-modules-that-use-es6

Adding `transformIgnorePatterns: ["<rootDir>/node_modules/(?!isbot)"],` to my custom Jest config allowed tests to pass with Jest 28:

![image](https://user-images.githubusercontent.com/222170/167881047-a1224a71-a20c-4be6-8806-6dd6b7986065.png)

[2022-05-11 21:34] wadehammes commented on #183
I spoke to soon, apparently my yarn had updated on this branch to a previous version and that's why it passed. my fix above does not work with Jest 28. My apologies. Still experiencing the export issue.

[2022-05-11 23:07] omrilotan commented on #183
I've added babel transpiling, removed VM module flag, and typescript tests.
I'll need to see your transpiling setup. Are you using webpack or something on top of everything?
Have a look at #186

[2022-05-11 23:10] wadehammes commented on #183
Im using a standard NextJS setup. There is some webpack config but mainly for Sentry.

Next 12.1.5 using their SWC compiler (no babel)

jest.config.ts
[code]

tsconfig
[code]

[2022-05-11 23:27] omrilotan commented on #183
Still can't reproduce. Would you like to try and test using?
[code]

[2022-05-11 23:36] wadehammes commented on #183
That works fine locally but in Github actions:

![image](https://user-images.githubusercontent.com/222170/167964277-1395325d-affc-4544-be33-d68189ea2fe8.png)

Any ideas?

[2022-05-19 12:41] omrilotan commented on #183
@wadehammes Good news,
Once I've defined jest environment as jsdom - I was able to replicate your issue.

If you could please test the next version using "next" tag - we can see that it solved the issue for you and release a stable version:

[code]

[2022-05-19 18:40] wadehammes commented on #183
@omrilotan this resolved the issue, thank you!

[2022-05-19 18:54] omrilotan commented on #183
Brilliant.Ill release a version in about 30 minutes. Thank you for taking the time

[2022-05-19 20:23] omrilotan commented on #183
Resolved in version 3.5.0

[2022-05-19 20:23] #183 closed

[2022-09-06 15:06] jgabriele opened #190 "Google Pixel phone was wrongly recognised as a bot"
User Agent String
-------
Safari/600.2.5 MobileRicardo (Google Pixel 6; android 13) ricardo.ch/8.28.2-82802 (debug) deviceId/dfa51331-fdeb-46d7-aa01-8d09a263ef90

Reproduce
-------
https://isbot.js.org/?ua=Safari/600.2.5%20MobileRicardo%20(Google%20Pixel%206;%20android%2013)%20ricardo.ch/8.28.2-82802%20(debug)%20deviceId/dfa51331-fdeb-46d7-aa01-8d09a263ef90

[2022-09-06 15:11] omrilotan commented on #190
Thank you for this issue. I can address it promptly.

[2022-09-06 15:16] omrilotan commented on #190
@jgabriele would you mind specifying what device and browser this is?

Chrome's user agent looks different than this, and the device name does not include the "Google" substring.
[code]

[2022-09-06 15:27] jgabriele commented on #190
Hello, indeed it's not Chrome's user agent, there it is fine. It's the Webview on Android for those Pixel phones that seems to send this UA string.

I do not know how to prepare a minimal reproducible case, we found that issue on our native app

[2022-09-06 15:33] jgabriele commented on #190
EDIT @omrilotan : I might have open an issue too fast, I do not know if this UA is coming from the Webview or if our Android mates are building it themselves. Please don't waste some time for now I will ping you when it's clarified.

BTW, impressive reaction time, it's very nice to see so active maintainers, you rock!

[2022-09-06 15:49] jgabriele commented on #190
So actually we looked into the problem some more, with the help of our mobile developers. It seems this is not coming directly from Android OS, but rather it's a custom User Agent we construct ourselves in the mobile apps, then inject into the WebView.

The user agents is composed of the Device's Manufacturer and Model name, resulting in:
Google Pixel 6
Asus Zenfon 9
etc.

In our case the issue li

[2022-09-06 15:54] omrilotan commented on #190
I have access to appr a billion traffic logs each day, so I was able to find some traffic with this old Google Pixel 2 user agent string. It is a bit of an edge case, but it sounds to me like an issue that can easily happen to others.
Since it originates in honest user-agent building protocols. I think it's good to resolve it.

Resolved: https://isbot.js.org/?ua=Safari/600.2.5%20MobileRicardo%20(G

[2022-09-06 15:54] #190 closed

[2022-09-06 15:58] jgabriele commented on #190
We've been trying your new release on our app, it works now 🎉.

Fastest. Issue fix. Ever. Thank you ❤️ !